.bottom-navbar-conteiner{
    width: 100%;
    height: 100px;
}
.next-button{
    float: right;
    background: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 12.446px;
    width: 120px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    position: relative;
    right:40px;
}
<<<<<<< HEAD
.next-button:hover{
    color: rgba(255, 255, 255, 0.445);
    background-color: #262E32;
=======
.next-button:active{
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
>>>>>>> Future_Product_screen
}
