.hamburger-conteiner{
    height: auto;
    width: auto;
    float: right;
    position: relative;
    top: 20px;
    background-color: aqua;
}
.hamburger-menu-icon{
    color:#EEF2FA;
    font-size: 42px;
    position: absolute;
    right: 50px;
}