
.all-name-box{
    width: auto;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffff;
    background: #2C2F33;
    box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262E32;
    border-radius: 20px;
}
.coater-name{
    margin-right: 30px;
}
.roll-press-name{
    margin-right: 30px;
}
.slitter-name{
    margin-right: 30px;
}
.half-slitter-name{
    margin-right: 30px;
}
.rewinder-name{
    margin-right: 30px;
}
.mixer-name{
    margin-right: 30px;
}
.SRP-name{
    margin-right: 30px;
}